.form{
  margin-top: 30px;
}
.ortext{
  margin-top: 110px;
}
.startbutton{
  margin-top: 30px;
}
.results{
  margin-top: 40px;
}
.results ul{
  list-style: none;
  margin-right:35px;
}
.red{
  color:red;
}
.yellow{
  color:yellow;
}
.green{
  color:green;
}